<div *ngIf="hero">
    
  <div>
    <table>
        <tr>
            <td><h2>{{hero.name | uppercase}} Details</h2>
                <div><span>id: </span>{{hero.id}}</div></td>
        </tr>
        <tr>
            <td for="name">Name: </td>
            <td><input id="name" #heroName [(ngModel)]="hero.name" placeholder="name"></td>
        </tr>
        <tr>
            <td for="country">Country:</td>
            <td>  <input id="country" #heroCountry [(ngModel)]="hero.country" placeholder="country"></td>
        </tr>
        <tr>
            <td for="age">Age: </td>
            <td><input id="age" #heroAge pattern="^[0-9]+$" [(ngModel)]="hero.age" placeholder="age"></td>
        </tr>
        <tr>
            <td><button mat-button (click)="save(heroName.value, heroCountry.value, heroAge.value)">save</button></td>
            <td>    <button mat-button (click)="goBack()">go back</button></td>
        </tr>
    </table>

    <div *ngIf="!incorrect" id="ages">
        Fill in all the data
    </div>

    <div *ngIf="!showMainContent" id="ages">
        Age entered incorrectly
    </div>
  </div>
</div>
